/* Home page */


  /* Navigation Bar */
  .main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .main_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .main_nav ul li {
    margin-left: 7vw;
  }

  .main_nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    font-family: "Red Rose";
  }

  /* Sidebar Icons and Links */
  .icons,
  .lower {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 12px;
  }

  .icons {
    top: 400px;
  }

  .lower {
    top: 800px;
    z-index: 1;
  }

  .icons li,
  .lower li {
    margin-bottom: 25px;
  }

  .lower li {
    margin-bottom: 15px;
  }

  .icons a,
  .lower a {
    color: #666;
    text-decoration: none;
  }

  .lower a {
    font-family: "Red Rose", sans-serif;
    font-weight: 300;
  }

  /* Main Text Section */
  .text {
    position: absolute;
    top: 300px;
    right: 15px;
    color: #ffffff;
  }
  .text p {
    margin: 0;
  }

  .text .highlight {
    color: #29cde3;
    font-family: "Abhaya Libre", serif;
    font-size: 83px;
    font-weight: 800;
  }

  .text .subtext {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
  }
/* <--------------------------------------------------------------------------------------------------------------------------------------------------------------> */

  h4 {
    color: #29cde3;
  }
  h5 {
    color: #ffffff;
  }
  .content {
    display: flex;
    align-items: flex-start;
  }
  body {
    background-color: #000;
    color: #fff;
    font-family: "Arial", sans-serif;
  }

  .timeline {
    width: 80%;
    margin: 50px auto;
    margin-top: 0px;
    position: relative;
    margin-bottom: 30px; /* Increased gap between the sticks */
    border-left: 3px solid #00c0ff; /* Stick */
    padding-left: 40px;
  }

  .timeline-event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
    position: relative;
  }

  .timeline-marker {
    background-color: #00c0ff; /* Blue Circle */
    width: 20px; /* Circle size */
    height: 20px;
    border-radius: 50%; /* Makes it a circle */
    position: absolute;
    left: -51px; /* Aligns it on the stick */
    top: -22px; /* Moves the circle to align on top of the stick */
    margin: 0px;
  }

  .timeline-content {
    flex: 1;
    padding-right: 20px;
  }

  .event-title {
    font-size: 18px;
    color: #00c0ff;
    margin-bottom: 10px;
  }

  .event-description {
    font-size: 16px;
    color: #ffffff;
  }

  .event-time {
    color: #00c0ff;
    font-size: 14px;
  }
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  