<%- include('include/_header', {pageTitle:'CONTACT US'}) %>

<div class="form-container" id="formContainer">
    <div class="form-left" id="formLeft"></div>
    <div class="form-right" id="formRight"></div>
</div>

<footer id="footerContainer"></footer>

<%- include('include/_footer', {pageTitle:'contactUs'}) %>
