<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    
    <header>
        <div class="logo">
            <a href=""><img src="images/logo.png" alt="Robotics Club Logo"></a>
            <h1>Robotics Club</h1>
        </div>
        <nav>
            <a href="/" id="nav-item">HOME</a>
            <a href="/events" id="nav-item">EVENTS</a>
            <a href="/resources" id="nav-item">RESOURCES</a>
            <a href="/ContactUs" id="nav-item">CONTACT</a>
        </nav>
    </header>

    <div class="side_bar">
      <ul class="icons">
        <li>
          <a href="#home"><img src="./images/mdi_instagram.png" alt="Instagram" /></a>
        </li>
        <li>
          <a href="#about"><img src="./images/hugeicons_twitter.png" alt="Twitter" /></a>
        </li>
        <li>
          <a href="#services"><img src="./images/linkedin.png" alt="LinkedIn" /></a>
        </li>
        <li>
          <a href="#contact"><img src="./images/mdi_youtube.png" alt="YouTube" /></a>
        </li>
      </ul>

      <ul class="lower">
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/team">Our Team</a></li>
        <li><a href="/timeline">Timeline</a></li>
      </ul>
    </div>

    <div class="text">
      <p class="highlight">ROBOTICS</p>
      <p class="highlight" style="color: #ffffff">CLUB</p>
      <p class="subtext" style="color: #29cde3">
        The official ROBOTICS club of BMU
      </p>
    </div>
  <!-- include footer -->
  <%- include('include/_footer', {pageTitle:'home'}) %>
  <!-- /include footer --> 