    <!-- include header -->
    <%- include('include/_header', {pageTitle:'RESOURCES'}) %>
    <!-- /include header -->

    
    <div class="search-container">
        <input type="text" placeholder="Search Inventory..." id="search">
    </div>

    <div id="inventoryGrid" class="inventory-grid">
        <!-- Cards will be dynamically inserted here -->
    </div>


    <!-- include footer -->
    <%- include('include/_footer', {pageTitle:'RESOURCES'}) %>
    <!-- /include footer --> 