    <!-- include header -->
    <%- include('include/_header') %>
    <!-- /include header -->

    
    <div class="search-container">
        <input type="text" placeholder="Search Inventory..." id="search">
    </div>

    <div id="inventoryGrid" class="inventory-grid">
        <!-- Cards will be dynamically inserted here -->
    </div>

    <script src="resources.js"></script>
</body>
</html>