<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Abhaya+Libre:wght@400;700;800&family=Red+Rose:wght@400;700&display=swap" rel="stylesheet">
    <title>Team Page</title>
    <link rel="stylesheet" href="styles/team.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="Robotics Club Logo"></a>
        </div>
        <nav>
            <a href="/" class="nav-item">HOME</a>
            <a href="/events" class="nav-item">EVENTS</a>
            <a href="/resources" class="nav-item">RESOURCES</a>
            <a href="/ContactUs" class="nav-item">CONTACT</a>
        </nav>
    </header>

    <section class="intro-section">
        <h1 class="title">MEET THE TEAM</h1>
        <p class="subtitle">Meet the innovative minds behind the robotics club, where creativity and technology come together to build the future!</p>
        <p class="type-writer">Innovators. Builders. Visionaries.</p>
    </section>

    <section class="slider-section">
        <div class="slider"> 
            
        </div>
    </section>
    <!-- include footer -->
    <%- include('include/_footer', {pageTitle:'team'}) %>
    <!-- /include footer -->
</body>
</html>
