<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Abhaya+Libre:wght@400;700;800&family=Red+Rose:wght@400;700&display=swap" rel="stylesheet">
    <title>Team Page</title>
    <link rel="stylesheet" href="styles/team.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href=""><img src="images/logo.png" alt="Robotics Club Logo"></a>
        </div>
        <nav>
            <a href="/" id="nav-item">HOME</a>
            <a href="/events" id="nav-item">EVENTS</a>
            <a href="/resources" id="nav-item">RESOURCES</a>
            <a href="/ContactUs" id="nav-item">CONTACT</a>
        </nav>
    </header>


    <section class="intro-section">
        <h1 class="title">MEET THE TEAM</h1>
        <p class="subtitle">Meet the innovative minds behind the robotics club, where creativity and technology come together to build the future!</p>
        <p class="type-writer">Innovators.Builders.Visionaries</p>
    </section>

    <section class="slider-section">
        <div class="slider">
            <!-- First Card -->
            <article class="card__article">
                <div class="card__image">
                    <img src="images/reddy.png" alt="Team Member" class="card__img">
                    <div class="card__shadow"></div>
                </div>
                <div class="card__data">
                    <h3 class="card__name">Ravindra Reddy</h3>
                    <p class="card__description">
                        Robotics Lead & AI Enthusiast
                    </p>
                    <div class="social-links">
                        <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                        <a href="#"><img src="images/GitHub.png" alt="GitHub"></a>
                        <a href="#"><img src="images/insta.png" alt="Instagram"></a>
                    </div>
                </div>
            </article>
            <!-- Repeat the above card structure 7 more times with different member details -->
            <article class="card__article">
                <div class="card__image">
                    <img src="images/reddy.png" alt="Team Member" class="card__img">
                    <div class="card__shadow"></div>
                </div>
                <div class="card__data">
                    <h3 class="card__name">Ravindra Reddy</h3>
                    <p class="card__description">
                        Robotics Lead & AI Enthusiast
                    </p>
                    <div class="social-links">
                        <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                        <a href="#"><img src="images/GitHub.png" alt="GitHub"></a>
                        <a href="#"><img src="images/insta.png" alt="Instagram"></a>
                    </div>
                </div>
            </article>
            <article class="card__article">
                <div class="card__image">
                    <img src="images/reddy.png" alt="Team Member" class="card__img">
                    <div class="card__shadow"></div>
                </div>
                <div class="card__data">
                    <h3 class="card__name">Ravindra Reddy</h3>
                    <p class="card__description">
                        Robotics Lead & AI Enthusiast
                    </p>
                    <div class="social-links">
                        <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                        <a href="#"><img src="images/GitHub.png" alt="GitHub"></a>
                        <a href="#"><img src="images/insta.png" alt="Instagram"></a>
                    </div>
                </div>
            </article>
            <article class="card__article">
                <div class="card__image">
                    <img src="images/reddy.png" alt="Team Member" class="card__img">
                    <div class="card__shadow"></div>
                </div>
                <div class="card__data">
                    <h3 class="card__name">Ravindra Reddy</h3>
                    <p class="card__description">
                        Robotics Lead & AI Enthusiast
                    </p>
                    <div class="social-links">
                        <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                        <a href="#"><img src="images/GitHub.png" alt="GitHub"></a>
                        <a href="#"><img src="images/insta.png" alt="Instagram"></a>
                    </div>
                </div>
            </article>
            <article class="card__article">
                <div class="card__image">
                    <img src="images/reddy.png" alt="Team Member" class="card__img">
                    <div class="card__shadow"></div>
                </div>
                <div class="card__data">
                    <h3 class="card__name">Ravindra Reddy</h3>
                    <p class="card__description">
                        Robotics Lead & AI Enthusiast
                    </p>
                    <div class="social-links">
                        <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                        <a href="#"><img src="images/GitHub.png" alt="GitHub"></a>
                        <a href="#"><img src="images/insta.png" alt="Instagram"></a>
                    </div>
                </div>
            </article>
            <article class="card__article">
                <div class="card__image">
                    <img src="images/reddy.png" alt="Team Member" class="card__img">
                    <div class="card__shadow"></div>
                </div>
                <div class="card__data">
                    <h3 class="card__name">Ravindra Reddy</h3>
                    <p class="card__description">
                        Robotics Lead & AI Enthusiast
                    </p>
                    <div class="social-links">
                        <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                        <a href="#"><img src="images/GitHub.png" alt="GitHub"></a>
                        <a href="#"><img src="images/insta.png" alt="Instagram"></a>
                    </div>
                </div>
            </article>
        </div>
    </section>

        <!-- include footer -->
        <%- include('include/_footer', {pageTitle:'team'}) %>
        <!-- /include footer --> 
