<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    
    <header>
        <div class="logo">
            <a href="" ><img src="images/logo.png"></a>
            <h1>INVENTORY</h1>
        </div>
        <nav>
            <a href="" id="nav-item">HOME</a>
            <a href="" id="nav-item">EVENTS</a>
            <a href="" id="nav-item">RESOURCES</a>
            <a href="" id="nav-item">CONTACT</a>
        </nav>
    </header>